
.navWrap{
  background-color: #0000008b;
  padding: 1rem 0;
  position: fixed;
  z-index: 100;
  width: 100%;
}
.nav{
  display: flex;
  width: 1200px;
  margin: auto;
  align-items: center;
}
.navLeft{margin-right: auto;}
a{color: #fff !important; text-decoration: none;}
.navLeft a img{margin-right: 3rem;}
.navLeft a:not(:first-of-type) {
  color: var(--color-w);
  padding: 0.2rem 0.5rem ;
  margin: 0.5rem;
  position: relative;
  bottom: 5px;
}
form{position: relative;}
.searchBtn{cursor: pointer; border:none; position: absolute; right: 0;width: 30px; border: 1px solid #fff; border-radius: 0.3rem;
  height:  30px; background-color: transparent;}
.searchBtn::before{
  content: '';
  color: #fff;
  width: 8px;
  height: 8px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: block;
  position: absolute;
  text-align: center;
  left: 45%;top: 50%;
  transform: translate(-50%, -50%);
}
.searchBtn::after{
  content: '';
  position: absolute;
  display: block;
  width: 1px;
  height:7px;
  background-color: #fff;
  transform: rotate(-60deg);
  top: 52%;
  left:62%;
}
input{
  outline: none;border:none; padding: 0 0.5rem; background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 0.3rem; height: 29px;
}
.mainSlide{
  width: 1300px;
  margin: auto;
}
.mainSlide h2{
  font-size: var(--font-l);
  margin-bottom: 2.1rem;
  font-weight: 800;
}